nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""
extraLabels: {}

server:
  image: docker.io/elabosak233/cdsctf:1.8.4
  replicas: 1

  config:
    server:
      burstRestoreRate: 1000
      burstLimit: 2048
    db:
      host: db
      port: 5432
      dbname: cdsctf
      username: cdsctf
      password: cdsctf
      sslMode: disable
    queue:
      host: queue
      port: 4222
      username: ""
      password: ""
      token: ""
      tls: false
    cache:
      url: "redis://cache:6379"
    cluster:
      namespace: cdsctf-challenges
      traffic: expose # expose | proxy
      publicEntry: "ctf.example.com"
    observe:
      enabled: false
      endpointURL: "http://otel:4317"

  persistence:
    size: 128Gi
    storageClass: "local-path"

  service:
    type: ClusterIP # ClusterIP | NodePort | LoadBalancer | ExternalName
    nodePort: null
    loadBalancerIP: null
    loadBalancerSourceRanges: []
    externalTrafficPolicy: Cluster
    annotations:
      traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
      traefik.ingress.kubernetes.io/service.sticky.cookie.name: "LB_Session"
      traefik.ingress.kubernetes.io/service.sticky.cookie.httponly: "true"

  serviceAccount:
    create: true
    clusterRoleBinding:
      create: true
      clusterRole: cluster-admin

db:
  enabled: true
  image: docker.io/library/postgres:18-alpine
  env:
    POSTGRES_USER: cdsctf
    POSTGRES_PASSWORD: cdsctf
    POSTGRES_DB: cdsctf

  persistence:
    size: 8Gi
    storageClass: "local-path"

queue:
  enabled: true
  image: docker.io/library/nats:2-alpine
  additionalArgs: []

  persistence:
    size: 1Gi
    storageClass: "local-path"

cache:
  enabled: true
  image: docker.io/valkey/valkey:9-alpine

  persistence:
    size: 1Gi
    storageClass: "local-path"

otel:
  enabled: false
  image: docker.io/otel/opentelemetry-collector-contrib:latest

  config: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: "0.0.0.0:4317"
          http:
            endpoint: "0.0.0.0:4318"

    exporters:
      logging:
        logLevel: debug

    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [logging]
        metrics:
          receivers: [otlp]
          exporters: [logging]
